@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: "Jost", sans-serif;
    color: #12458C;
}

body {
    background-color: #2461B7;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: #5865F2; */
    margin-top: 5%;
    margin-bottom: 5%;
}

form {
    border: 1px solid gray;
    border-radius: 20px;
    padding: 20px;
    width: 50vw;
    background-color: #D6E7FF;
}

.formHeader {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.formHeader img {
    width: 120px;
    height: 40px;
}

.formContent {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-right: 5vw;
    margin-left: 5vw;
    margin-top: 20px;
}

.names {
    display: flex;
    /* border: 1px solid; */
    justify-content: space-between;
}

.nameInput, .username {
    display: flex;
    flex-direction: column;
}

.username {
    width: 250px;
}

.name {
    display: flex;
    gap: 5px;
}

.common {
    display: flex;
    flex-direction: column;
}

textarea {
    resize: vertical;
    min-height: 150px;
    border: 0.5px solid gray;
    padding: 7px 5px;
    border-radius: 7px;
}

input {
    border: 0.5px solid gray;
    padding: 7px 5px;
    border-radius: 7px;
}

input:focus {
    outline: 2px solid #12458C;
}

.buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.buttons button {
    padding: 10px 35px;
    font-size: 19px;
    border-radius: 25px;
    border: 1px solid gray;
    cursor: pointer;
}

#saveButton {
    background-color: transparent;
}

#saveButton:hover {
    background-color: gray;
    color: white;
}

#submitButton {
    background-color: #2461B7;
    color: white;
}

#submitButton:hover {
    background-color: gray;
}